.hidden {
  display: none;
}

.italic {
  font-style: italic;
}

body {
  text-align: center;
  color: #ecf0f1;
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  opacity: 90%;
}

.clock {
  font-size: 100pt;
  margin-top: 200px;
  text-align: center;
}

.login-form {
  height: 100%;
  justify-content: center;
  align-items: center;
}

.greeting {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.quote {
  margin-top: 100px;
  margin-bottom: 25px;
  position: absolute;
  bottom: 0;
  right: 25%;
  left: 25%;
}

.weather {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 15px;
  font-weight: bold;
  bottom: 0;
}

.todo-form {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.todo-list {
  list-style: none;
  font-size: 20px;
}

button {
  background-color: transparent;
  border: none;
}

input::placeholder {
  color: #ecf0f1;
}

.login-input {
  width: 180px;
  height: 20px;
  font-size: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px white solid;
  outline: none;
  padding-left: 10px;
  background-color: transparent;
  color: #ecf0f1;
  align-items: left;
  justify-content: left;
  margin-bottom: 20px;
}

.todo-input {
  width: 270px;
  height: 20px;
  font-size: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px white solid;
  outline: none;
  padding-left: 10px;
  background-color: transparent;
  color: #ecf0f1;
  align-items: center;
  justify-content: center;
}
